nav{
    position: absolute;
    z-index: 5;
}








.main{
    position: relative;
    background-image: linear-gradient(to top, #534a3a, #655844, #79664e, #8d7459, #a38264);
}

.public_map{
    display: flex;
    height: 100%;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    transition: margin-left .5s;
    position: relative;
    margin-left:300px;
}

#open_bar,#close_bar,#open_search_bar{
    position: absolute;
    background-color: rgba(112, 26, 13, 0.746);
    cursor:pointer;
    z-index: 8;
    transition: margin-left .5s;
    margin-left:300px;
    height: 40px;
    width: 40px;
    border: none;
}

#close_bar{
    top:160px;
    background-image: url("/img/delete.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

#close_bar:hover{
    background-image: url("/img/delete_hover.png");
}

#open_bar{
    top:110px;
    background-image: url("/img/play.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

#open_bar:hover{
    background-image: url("/img/play_hover.png");
}

#open_search_bar{
    top:60px;
    background-image: url("/img/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

#open_search_bar:hover{
    top:60px;
    background-image: url("/img/search_hover.png");
}

/* slidebar */

.search_list_and_place {
    height: 100%;
    width: 0px;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-image: linear-gradient(to top, #534a3a, #655844, #79664e, #8d7459, #a38264);
    padding-top: 60px;
    box-sizing: border-box;
}

.search_list_and_place_bar{
    height: 60px;
    /* background-color: rgb(240, 230, 207); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#search_list_and_place_input{
    height:55%;
    width:45%;
    padding-right: 65px;
    margin-left: 15px;
}


input{
    font-family:inherit;
    padding-left:15px;
    -webkit-border-radius: 50px;
    border: none;
}

.list_and_place_result{
    height:30%;
    position: absolute;
    cursor:pointer;
    right: 120px;
}

.list_and_place_result:hover{
    content:url("/img/search_hover.png");
}

.delete_list_and_place_result{
    height:30%;
    position: absolute;
    cursor:pointer;
    right: 90px;
}

.delete_list_and_place_result:hover{
    content:url("/img/delete_hover.png");
}

/* 搜尋模式 */
/* Button 10 */

.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 90px;
    height: 60px;
    box-sizing: border-box;
}

.button-cover
{
    height: 60px;
    /* margin: 20px; */
    /* background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6; */
    border-radius: 4px;
}

/* .button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
} */

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
}

.button-cover
{
    top: 2px;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 40px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.knobs
{
    z-index: 1;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 0;
}

#button-10 .knobs:before, #button-10 .knobs:after
{
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 40px;
    transition: 0.3s ease all;
}

#button-10 .knobs span
{
    position: absolute;
    top: -2px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}




#button-10 .knobs:before
{
    content: '';
    left: 4px;
    background-color: #03A9F4;
}

#button-10 .knobs:after
{
    content: '地點';
    right: 4px;
    top:-2px;
    color: #4e4e4e;
}



#button-10 .knobs span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked + .knobs span
{
    color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before
{
    left: 42px;
    background-color: #F44336;
}

#button-10 .checkbox:checked + .knobs:after
{
    color: #fff;
}

#button-10 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}


/* 搜尋模式結束 */



.no_public_list{
    padding-left:15px;
    color: #FAEBD7;
}


.search_list_and_place_result{
    height: calc(100% - 60px) ;
    /* background-color: #EFF154; */
    overflow-y: auto;
    overflow-x:hidden;
    position: relative;
}

.search_explain{
    font-size: 16px;
    margin: 0px 0px 5px 15px;
    color: #FAEBD7;
}

/* .search_explain_img_1{
    margin: 5px 0px 0px 12px;
}

.search_explain_img_2{
    margin: 5px 0px 0px 14px;
} */

.public_list_container{
    padding: 5px 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.public_list_container:hover{
    padding: 5px 0px 5px 15px;
    background-color: rgba(128,128,128,0.7);
}

.public_list_icon{
    width: 32px;
    height: 37px;
}

.public_list_name_and_owner{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.public_list_name{
    cursor:pointer;
    width: 180px;
    font-size: 12px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    margin-right:10px;
    font-family: 'Noto Sans TC', sans-serif;
    color: wheat;
}


.public_list_owner{
    font-size: 8px;
    width: 100px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    text-align:left;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-weight: 100;
    
}

.list_copy_number{
    width: 15px;
    font-size: 10px;
    margin-right:5px;
    line-height: 13px;
    color: white;
}

.list_copy_number_img{
   height: 15px;
   width: 15px; 
   margin-right:5px;
   /* margin-top: 3px; */
}



/* 使用者所有清單介面 */

.user_own_list {
    height: 100%;
    width: 300px;
    position: fixed;
    position: absolute;
    transition: 0.5s;
    background-image: linear-gradient(to top, #534a3a, #655844, #79664e, #8d7459, #a38264);
    z-index: 3;
    padding-top: 60px;
    box-sizing: border-box;
}

.user_own_list_title{
    height: 60px;
    /* background-color: rgb(173, 145, 80); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow : hidden;
    position: relative;
}


.user_own_list_content{
    height: calc(100% - 60px) ;
    /* background-color: rgb(182, 150, 75); */
    overflow-y: auto;
    position: relative;
    /* overflow-x: hidden; */
}

.my_list{
    font-family: "sans";
    text-align: center;
    height: 30px;
    font-size: 25px;
    color:#FAEBD7;
}

.creat_new_list{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 40px;
}

.creat_new_list:hover{
    cursor: pointer;
    height: 30px;
    width: 30px;
    content:url("/img/add_hover.png");
}

.my_list_explain{
    font-size: 16px;
    margin:5px 0px 5px 30px;
    color: #FAEBD7;
}

.my_list_explain_arrow{
    position: absolute;
    right: 31px;
    top:5px;
    height: 48px;
    width: 48px;
}


.user_list_icon{
    height: 37px;
    width: 32px;
    margin-left: 10px;
    margin-right:10px;
}

.user_list_name{
    cursor:pointer;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    font-size: 16px;
    height: 30px;
    line-height: 25px;
    width: 180px;
    margin-right: 10px;
    color: #FAEBD7;
}

.user_list_name:hover{
    font-weight: bold;
    font-size: 18px;
}




.user_every_list_container{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

/* slidebar toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch_toggle:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch_toggle:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch_toggle:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





/* list_input */

.input_list_name {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(214, 214, 214,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    
}
  
.input_list_name .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#list_name{
    padding-right:15px;
    font-size: 20px;
    margin: 15px 0px;
    text-align: center;
}



/* edit_list_input */

.edit_list_name {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(214, 214, 214,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
  
.edit_list_name .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#list_name_edit{
    padding-right:15px;
    font-size: 20px;
    margin: 15px 0px;
    text-align: center;
}


/* a list  and a public list  */



.a_list {
    height: 100%;
    width: 0px;
    z-index: 3;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #534a3a, #655844, #79664e, #8d7459, #a38264);
}

.a_list_name{
    height: 60px;
    /* background-color: rgb(182, 182, 69); */
    display: flex;
    align-items: center;
}

.a_list_content{
    height: calc(100% - 60px) ;
    box-sizing: content-box;
    /* background-color: orange; */
    overflow-y: auto;
}


.a_list_edit_icon{
    cursor:pointer;
    height: 25px;
    width: 25px;
    margin:0px 10px;
}

.a_list_edit_icon:hover{
    content:url("/img/edit_hover.png");
}

.a_list_delete_icon{
    cursor:pointer;
    margin-right:10px;
    height: 25px;
    width: 25px;
}

.a_list_delete_icon:hover{
    content:url("/img/remove_hover.png");
}

.a_list_explain{
    font-size: 16px;
    margin:5px 0px 5px 15px;
    color: #FAEBD7;
}



.user_a_list_icon{
    height: 37px;
    width: 32px;
    margin-left: 10px;
    margin-right:10px;
}

.public_icon{
    height: 37px;
    width: 32px;
    margin-left: 10px;
    margin-right:10px;
}


.a_list_title {
    width: 178px;
    height: 30px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    color: #FAEBD7;
}

.a_public_list_title{
    cursor:pointer;
    width: 208px;
    /* height: 30px; */
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    z-index: 4;
    color: #FAEBD7;
}

.a_public_list_title:hover{
    font-weight: bolder;
    font-size: 22px;
}

.no_content_in_list{
    font-size: 16px;
    margin:5px 0px 5px 15px;
    color: #FAEBD7;
}


.copy_img{
    cursor:pointer;
    height: 25px;
    width: 25px;
    margin-right:10px;
    margin-left: 10px;
}

.copy_img:hover{
    content:url("/img/copy_hover.png");
}

.user_place_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user_place_name{
    padding: 5px 0px;
    padding-left: 15px;
    font-size: 16px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    cursor:pointer;
    width: 255px;
    color: #FAEBD7;
}

.user_place_name:hover{
    font-weight:900;
    font-size: 18px;
}

.user_place_container:hover{
    background-color: rgba(128,128,128,0.3);
}

.user_delete_place{
    font-size: 16px;
    cursor:pointer;
    margin-right: 12px;
    top:10px;
}

.user_delete_place:hover{
    font-size: 20px;
    font-weight:900;
    cursor:pointer;
    
}





/* a place slidebar */

.a_place {
    height: 100%;
    width: 0px;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-image: linear-gradient(to top, #534a3a, #655844, #79664e, #8d7459, #a38264);
    z-index: 4;
    padding-top: 60px;
    box-sizing: border-box;
}

.a_place_name{
    height: 60px;
    /* background-color: rgb(173, 145, 80); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.a_place_content{
    height: calc(100% - 60px);
    /* background-color: rgb(151, 134, 95); */
    overflow-y: auto;
}

.a_place_explain{
    font-size: 16px;
    margin:5px 0px 5px 15px;
}


.a_public_list_content{
    height: calc(100% - 60px);
    /* background-color: rgb(151, 134, 95); */
    overflow-y: auto;
}

.a_place_title{
    margin: 0px 15px ;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    color: #FAEBD7;

}



.list_cotainer{
    display: flex;
    padding: 5px 0px;
    padding-left: 15px;
    font-size: 16px;
}


.list_cotainer > button{
    font-family: 'Noto Sans TC', sans-serif;
    margin-right: 10px;
    -webkit-border-radius: 40px;
    border: none;
    background-color: antiquewhite;
    cursor:pointer;
}

.list_cotainer > button:hover{
    background-color: rgb(192, 156, 110);
}


.list_cotainer > img{
    height: 37px;
    width: 32px;
    padding-right: 10px;
}

.list_cotainer > p{
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    height: 30px;
    width: 180px;
    margin-right: 10px;
    line-height: 30px;
    cursor:pointer;
    color: #FAEBD7;
}

.list_cotainer > p:hover{
    font-size: 18px;
    font-weight: bolder;
    cursor:pointer;
}



/* search place */



.search_place_result{
    background-color: white;
    z-index: 10;
    position: absolute;
    top:30px;
    -webkit-border-radius: 20px;
    width: 300px;
    /* display: none; */
}

.place_container{
    display: flex;
    cursor:pointer;
    width: 280px;
    margin: 5px 5px 5px 15px;
}

.place_container:hover{
    background-color: rgba(128,128,128,0.7);
}


.name_and_address_container{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
}


.no_place_list{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    padding: 0px 10px;
}


.place_img{
    width: 32px;
    height: 37px;
}

.public_place_name,.public_place_address{
    color: wheat;
    font-size: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0px;
    width: 232px;
}

.public_place_address{
    color: white;
    font-weight: 100;
}

