
.public_map{
    display: flex;
    height: calc(100% - 60px);
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    transition: margin-left .5s;
}

#open_bar,#close_bar,#open_new_list_bar{
    position: absolute;
    z-index: 8;
    transition: margin-left .5s;
}

#open_bar{
    top:50px;
}

#open_new_list_bar{
    top:100px;
}

/* slidebar */

.search_and_list {
    height: 100%;
    width: 0px;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(230, 208, 157);
}

.search_list_bar{
    height: 10%;
    background-color: rgb(240, 230, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search,.lsit_result{
    height:50%;
}

#search{
    width:60%;
}

.search_list_result{
    height: 45%;
    background-color: rgb(248, 201, 92);
    overflow-y: auto;
}

.user_own_list{
    height: 45%;
    background-color: rgb(255, 184, 19);
}

.user_list_name{
    cursor:pointer;
}

.user_own_list_content{
    overflow-y: auto;
    height: calc(100% - 23px);
}

.user_every_list_container{
    display: flex;
}

/* slidebar toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





/* list_input */

.input_list_name {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(214, 214, 214,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
  
.input_list_name .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* edit_list_input */

.edit_list_name {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(214, 214, 214,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
  
.edit_list_name .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* a list  and a public list  */

.a_list {
    height: 100%;
    width: 0;
    z-index: 2;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
}

.a_list_name{
    height: 10%;
    background-color: rgb(230, 230, 84);
    display: flex;
    justify-content: space-around;
}

.a_list_content{
    height: 90%;
    background-color: rgb(160, 160, 86);
    overflow-y: auto;
}

.a_list_content >p ,.a_public_list_content>p{
    cursor:pointer;
}



/* .a_list_title {
    border: none;
    background: transparent;
} */


/* search_public_list */

.public_list_container{
    display: flex;
    flex-wrap: nowrap;
}

.list_copy_img{
    height: 30px;
}

.public_list{
    cursor:pointer;
}



/* a place slidebar */

.a_place {
    height: 100%;
    width: 0px;
    position: fixed;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(230, 208, 157);
    z-index: 3;
}

.a_place_name{
    height: 10%;
    background-color: rgb(173, 145, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.a_place_content{
    height: 90%;
    background-color: rgb(151, 134, 95);
    overflow-y: auto;
}

.a_public_list_content{
    height: 90%;
    background-color: rgb(151, 134, 95);
    overflow-y: auto;
}

.list_cotainer{
    display: flex;
    justify-content: space-around;
}



/* search place */

.search_place_input{
    display: flex;
    position: relative;
}

.search_place_result{
    background-color: white;
    z-index: 10;
    position: absolute;
    top:23px;
    /* display: none; */
}

.place_container{
    display: flex;
    cursor:pointer;
}
