

div.container{
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 500px;
  padding: 5%;
  margin: auto;
}

div.sign_in_container{
  display: flex;
  flex-direction: column;
}

img.logo{
  width: 400px;
  height: 74.5px;
}



img.picture{
  width: 400px;
  height: 500px;
}

div.sign_in_container{
  width: 400px;
  height: 500px;
  background-color: #f0ecec;
}

h1{
  display: block;
  text-align: center;
  width: 400px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  color: #3f3a3a;
  letter-spacing: 6px;
  margin: 20px 0;
}


.text{
  text-align: center;
}


.user{
  display: block;
  width: 300px;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: #3f3a3a;
  margin: 20px auto;
  padding-left: 10px;
  letter-spacing: 4px;
  -webkit-border-radius: 50px;
}

button{
  display: block;
  width: 314px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: #3f3a3a;
  margin: 20px auto;
  letter-spacing: 4px;
  -webkit-border-radius: 50px;
}

p.signup{
  text-align: center;
  display: block;
  width: 314px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: #3f3a3a;
  margin: 20px auto;
  letter-spacing: 6px;
}

